/* Global Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Root Variables */
  :root {
    --primary-font: "Lexend Deca", sans-serif;
    --secondary-font: "Big Shoulders Display", sans-serif;
    --heading-color: #F2F2F2;
    --font-color: #FFF;
    --sedans-background: #E28625;
    --suv-background: #006971;
    --luxury-background: #004140;
    --heading-font-size: 2.5rem;
    --button-font-size: 0.9rem;
    --default-padding: 1rem 0;
  }
  
  /* Base Styles */
  html {
    font-size: 16px;
  }
  
  body {
    font-family: var(--primary-font);
    margin: 0 auto;
    max-width: 920px;
  }
  
  /* Heading Styles */
  h3 {
    font-family: var(--secondary-font);
    color: var(--heading-color);
    font-size: var(--heading-font-size);
  }
  /* Paragraph Styles */
  p {
    font-family: var(--primary-font);
    font-optical-sizing: auto;
    font-weight: 200; 
    color: var(--font-color);
    padding: var(--default-padding);
    line-height: 1.5;
  }
  /*  Footer  */
    footer {
      text-align: center;
      margin-top: 1.5rem;
      a {
        text-decoration: none;
      }
    }
  